{% extends "base.html" %}

{% block title %} Nobnb Listings {% endblock title %}

{% block content %}

    <div id="listings" class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-4 gap-6">
        {% for i in range(0, 24, 1) %}
            <div id="listing_container" class="col-auto">
                <div id="listing_carousel" class="rounded-xl aspect-square overflow-hidden">
                    
                    {% include 'landing_components/landing_listing_carousel.html' %}
                    
                </div>
                <div id="listing_copy" class="py-2" >
                    <div id="listing_top_copy" class="flex justify-between w-full">
                        <p class="text-gray-800 text-sm font-semibold leading-snug justify-start">Malibu, CA</p>
                        <div class="flex flex-row">
                            <svg id="star" class="w-4 h-4 mr-0.5 pt-0.5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                            </svg>
                            <p class="text-gray-800 text-sm font-normal leading-snug justify-end">4.97</p>
                        </div>
                    </div>
                    <p class="text-gray-500 text-sm leading-snug font-normal">Carbon Beach {{ loop.index }}</p>
                    <p class="text-gray-500 text-sm leading-snug font-normal">5 Nights • Feb 27 - 28</p>
                    <p class="text-gray-800 text-sm font-semibold leading-snug pt-1 underline">$2447 before taxes</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}